*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#top{
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(files/imgs/bg_contacts.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 1);
}

#top .top_container{
    position: relative;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#top .top_container .text{
    position: relative;
    height: 80%;
}

#top .top_container .text .text_cont{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top .top_container .text .text_cont h1{
    font-size: 96px;
    text-transform: uppercase
}

#top .top_container .text .text_cont h2{
    font-size: 40px;
}

#top .top_container .social{
    position: relative;
    height: 20%;
}

#top .top_container .social .social_cont{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#top .top_container .social .social_cont h3{
    font-size: 24px;
    text-transform: uppercase;
    padding-right: 30px;
}

#top .top_container .social .social_cont h4{
    font-size: 24px;
    padding-right: 30px;
}

#top .top_container .social .social_cont .sm{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

#top .top_container .social .social_cont .sm:hover{
    transition: 0.4s;
    transform: translateY(-10px);
    opacity: 0.8;
}

#top .top_container .social .social_cont .sm img{
    height: 36px;
    width: 36px;
    margin-right: 10px;
}

#contactform{
    width: 100%;
    height: 70vh;
    position: relative;
    background-color: #F4E1D0;
    color: #2D4450;
}

#contactform .container{
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactform .contact-box{
    width: 60%;
    display: flex;
    flex-direction: column;
}

#contactform .top_contact{
    height: 100%;
}

.top_contact h1{
    position: relative;
    font-size: 64px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.top_contact h1:before{
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    bottom: 0;
    border-bottom: 2px solid #FD8554;
}

.top_contact h2{
    position: relative;
    font-size: 28px;
    font-weight: 500;
    color: #585858;
    text-align: left;
    text-transform: uppercase;
    padding: 30px 0;
}

.bottom_contact{
    position: relative;
    display: flex;
    flex-direction: column;
}

.cont_fields{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom_contact .left{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
    margin-right: 30px;
}

.bottom_contact .right{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
}


.bottom_contact .field{
    min-height: 60px;
    position: relative;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
    font-size: 20px;
    margin-bottom: 24px;
    transition: .3s;
    border-radius: 10px;
}

#contactform .field::placeholder{
    color: rgba(166, 166, 166, 1);
}

#contactform .field::-ms-input-placeholder{
    color: rgba(166, 166, 166, 1)(166, 166, 166, 1);
}

#contactform .field::-webkit-input-placeholder{
    color: rgba(166, 166, 166, 1);
}

#contactform .field::-moz-placeholder{
    color: rgba(166, 166, 166, 1);
}

#contactform .field:hover{
  background-color: rgba(255, 255, 255, 0.8);
}

#contactform textarea{
  min-height: 144px;
}

#contactform .contactbtn{
  width: 100%;
  padding: 1rem 1rem;
  background-color: #2D4450;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
    font-weight: 600;
    border-radius: 10px;
}

#contactform .contactbtn:hover{
    background-color: rgba(45, 68, 80, 0.9);
}

#contactform .field:focus{
    background-color: rgba(45, 68, 80, 0.9)